<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4"  >Social Networking App  </h1>
       <hr class="my-4">
         <p>Welcome to Social Network "</p>
           <%= link_to "sign up ", new_user_registration_path , class: "btn btn-success btn-lg"%>
    </div>
  </div>
</div>